<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<p> I am Shifa Faisal, a student working her way through her Bachelor's of information Techonolgy.</p>

<%- include ./partials/footer.ejs %>